
.smallsize {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: cyan;
}

.btn-outline-cyan {
    --bs-btn-color: #00e6e6;
    --bs-btn-border-color: #00e6e6;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #00e6e6;
    --bs-btn-hover-border-color: #00e6e6;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #00e6e6;
}

.btn-outline-cyan:hover {
    color: white;
    background-color: cyan;
    border-color: cyan;
}

input{
    width : 140px;
}
.table-custom-width {
    width: !important 120%; /* Set the desired width value here */
}