
@{
    ViewBag.Title = "Sign up";
}

<head>

    <style>

        .smallsize {
            font-size: 20px;
        }

        a {
            text-decoration: none;
            color: cyan;
        }

        .btn-outline-cyan {
            --bs-btn-color: #00e6e6;
            --bs-btn-border-color: #00e6e6;
            --bs-btn-hover-color: #000;
            --bs-btn-hover-bg: #00e6e6;
            --bs-btn-hover-border-color: #00e6e6;
            --bs-btn-focus-shadow-rgb: 13, 202, 240;
            --bs-btn-active-color: #000;
            --bs-btn-active-bg: #00e6e6;
        }

            .btn-outline-cyan:hover {
                color: white;
                background-color: cyan;
                border-color: cyan;
            }
    </style>
</head>

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title | <small class="smallsize">@ViewBag.Message</small></h2>


    <p> </p>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">
            @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
        </div>

        <p> </p>

        <div class="form-group">
            <label for="password-retype">Type your email</label>
            <input type="email" class="form-control" id="password-retype" placeholder="Enter email">
        </div>

        <p> </p>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>

        <p> </p>

        <div class="form-group">
            <label for="password-retype">Type again your password</label>
            <input type="password" class="form-control" id="password-retype" placeholder="Enter password again">
        </div>

        <p> </p>

        <button type="submit" class="btn btn-outline-cyan">Submit</button>
    </form>

    <script>

    function validName(name) {
        return /^[A-Za-z\s]+$/.test(name);
    }

    // Add inserted information to table
    $(document).ready(function () {
        $(".btn-dark").click(function () {
            let sID = $("#sID").val().trim();
            let username = $("#name").val().trim();
            let email = $("#email").val().trim();
            let pass = $("#password").val().trim();
            let retypepass = $("#password-retype").val().trim();

            if (sID === "" || username === "" || email === "" || gpa === "") {
                alert("Please fill in all the fields!");
                return false;
            }

            if (isNaN(sID)) {
                alert("ID must be a number");
                return false;
            }

            if(validName(username) == false){
                alert("Invalid name");
                return false;
            }

            if (!/^\w+([.-]?\w+)\w+([.-]?\w+)(.\w{2,3})+$/.test(email) ) {
                alert("Please enter a valid email address.");
                return false;
            }

            if (isNaN(gpa)) {
                alert("GPA must be a number");
                return false;
            }

            if (gpa < 0 || gpa > 10) {
                alert("GPA must be from 0 to 10");
                return false;
            }

            $("tbody").append("<tr><td>" + sID + "</td><td>" + username + "</td><td>" + email + "</td><td>" + gpa + "</td><td><button class='btn btn-danger btn-sm'>Delete</button></td></tr>");
            $("#sID").val("");
            $("#name").val("");
            $("#email").val("");
            $("#gpa").val("");
        });
    });
    </script>

</main>