@model WebForm.Models.Cart

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |

    <div>
        <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "Carts", new { resellerID = Session["resellerid"]} )">Back to list &raquo;</a></p>
    </div>

</div>
    }
</div>
